@import "mixin";

* {
  box-sizing: border-box;
}

.dark {
  background: #0f0f0f;
}

body {
  margin: 0;
  background: #F1F1F1;
  @media (max-width: 992px) {
  }
}
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none !important;
  @media (max-width: 992px) {
    outline: none !important;
  }
}

.section-title {
  color: var(--2, #282828);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  @media (max-width: 992px) {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  /*html, body{
		overflow-x:hidden;
	}*/
  .dt-hidden {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .iti.iti--container {
    z-index: 1999999999 !important;
  }
  .mob-hidden {
    display: none !important;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  @media (max-width: 1375px) {
    max-width: $md1 + px;
  }
}

.site {
  position: relative;
  overflow: hidden;
}

/* Tabs */

._tabs-block {
  display: none;
  &._active {
    display: block;
  }
}

.category-wrap {
  margin: 100px 0;
  @media (max-width: 992px) {
    margin: 80px 0;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    h2 {
      color: #0f0f0f;
      font-size: 48px;
      font-weight: 600;
      line-height: 1;
      text-align: left;
      margin: 0;
      @media (max-width: 992px) {
        font-size: 32px;
      }
    }
    a {
      color: rgb(15 15 15 / 50%);
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 16px;
      svg {
        margin-top: -4px;
      }
    }
  }

  &__body {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    > div {
      width: calc(33.33% - 20px);

      @media (max-width: 992px) {
        width: 100%;
      }
      > a {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &:hover {
          .post-thumb {
            .image-back {
              transition: all 0.5s;
              transform: scale(1.1);
            }
          }
        }
        .post-thumb {
          width: 100%;
          height: 240px;
          position: relative;
          overflow: hidden;
          border-radius: 16px;
          .image-back {
            position: absolute;
            background-position: center;
            background-size: cover;
            left: 0;
            top: 0;
            transform: scale(1);
            width: 100%;
            height: 100%;
            transition: all 0.5s;
          }
        }
        .post-inner {
          display: flex;
          flex-direction: column;
          gap: 20px;
          h3 {
            margin: 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
            color: #0f0f0f;
          }
          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            color: rgb(15 15 15 / 50%);
          }
        }
      }
    }
  }
}

.single-post {
  .category-wrap {
    &__top {
      a {
        display: none;
      }
    }
  }
}

.black-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  background: #161616;
  color: #fff;
}

.white-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  background: #fff;
  color: #161616;
}

.main-button {
  color: #0f0f0f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1; /* 22.4px */
  text-transform: uppercase;
  border-radius: 0px 0px 24px 0px;
  background: var(--4, #97d80f);
  display: flex;
  padding: 5px 72px 0 24px;
  width: fit-content;
  height: 56px;
  position: relative; /* Needed for the absolute positioning of the pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element is clipped to the border-radius */
  transition: all 0.5s;
  border: none;
  @media (max-width: 992px) {
    padding-top: 2px;
  }
  span {
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(
      --5,
      linear-gradient(
        137deg,
        #333cef 2.76%,
        #0b98ff 32.42%,
        #9ce500 62.07%,
        #acd64e 91.73%
      )
    );
    border-radius: 0px 0px 24px 0px; /* Match the button's border-radius */
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.5s;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
    svg {
      animation: flyAway 1s forwards;
    }
  }
  svg {
    position: absolute;
    right: 24px;
    bottom: 16px;
    will-change: transform;
  }
}

@keyframes flyAway {
  20% {
    transform: translateY(-160%) translateX(150%); /* Adjust values to control the ending position */
  }
  25% {
    transform: translateY(-160%) translateX(-9999%); /* Adjust values to control the ending position */
  }
  30% {
    transform: translateY(160%) translateX(-9999%); /* Adjust values to control the ending position */
  }
  60% {
    transform: translateY(160%) translateX(-150%); /* Adjust values to control the ending position */
  }
  100% {
    transform: translateY(0) translateX(0); /* Adjust values to control the ending position */
  }
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .popup-inner {
    width: 1034px;
    max-width: 95%;
    background: #f0f0f7;
    padding: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    min-height: 670px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 992px) {
      padding: 40px 24px;
    }
    .popup-close {
      position: absolute;
      right: 64px;
      top: 64px;
      cursor: pointer;
      @media (max-width: 992px) {
        top: 24px;
        right: 24px;
      }
    }
    h2 {
      font-size: 36px;
      font-weight: 500;
      line-height: 1.2;
      text-align: center;
      color: #0f0f0f;
      span {
        color: #333cef;
      }
      @media (max-width: 992px) {
        font-size: 24px;
        br {
          display: none;
        }
      }
    }

    > div {
      width: 100%;
    }

    .form-sent {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin: 40px auto;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        color: #0f0f0f;
        @media (max-width: 992px) {
          font-size: 24px;
          margin: 24px 0;
          br {
            display: none;
          }
        }
      }
      p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        text-align: center;
        color: #0f0f0f;
      }
    }

    .popup-form {
      display: flex;
      gap: 32px;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 40px;
      .terms {
        text-align: center;
        font-size: 16px;
        width: 100%;
      }
      > div {
        width: calc(50% - 16px);
        position: relative;
        &.full {
          width: 100%;
          textarea {
            width: 100%;
            height: 100px;
            background: #2a2a2a1a;
            border: 1px solid #2a2a2a1a;
            padding: 24px;
            display: flex;
            align-items: center;
            color: #2a2a2a;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.4px;
            text-align: left;
            border-radius: 0;
            font-family: "__Epilogue_f72d86", "__Epilogue_Fallback_f72d86";
            font-style: normal;
            &.invalid {
              border-color: #f00;
            }
          }
        }
        @media (max-width: 992px) {
          width: 100%;
        }
        input,
        select {
          width: 100%;
          height: 56px;
          background: #2a2a2a1a;
          border: 1px solid #2a2a2a1a;
          padding: 0 24px;
          display: flex;
          align-items: center;
          color: #2a2a2a;
          font-size: 16px;
          font-weight: 400;
          line-height: 22.4px;
          text-align: left;
          border-radius: 0;
          &.invalid {
            border-color: #f00;
          }
        }
        .invalid {
          input {
            border-color: #f00;
          }
        }
        .select-wrap {
          position: relative;
          img {
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .select__menu {
          background: #dcdce2;
          z-index: 999;
          margin: 0;
          .select__option {
            padding: 16px 24px;
            font-size: 16px;
            color: #2a2a2a !important;
            &:hover {
              background: #2a2a2a1a;
            }
            &--is-focused {
              background: #2a2a2a1a;
            }
            &--is-selected {
              background: #2a2a2a1a;
            }
          }
        }

        .select__control {
          width: 100%;
          height: 56px;
          background: #2a2a2a1a;
          border: 1px solid #2a2a2a1a !important;
          padding: 0 24px;
          display: flex;
          align-items: center;
          color: #2a2a2a;
          font-size: 16px;
          font-weight: 400;
          line-height: 22.4px;
          text-align: left;
          border-radius: 0;
          box-shadow: unset;
          &.invalid {
            border-color: #f00 !important;
          }
          .select__value-container {
            padding: 0;
            .select__single-value {
              margin: 0;
            }
          }
          .select__input-container {
            height: 100%;
            margin: 0;
            padding: 0;
          }
          .select__indicators {
            .select__indicator-separator {
              display: none;
            }
            .select__indicator {
              padding: 0;
              svg {
                path {
                  fill: #0f0f0f;
                }
              }
            }
          }
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          option {
            background: #2a2a2a1a;
            padding: 10px;
          }
        }

        > span {
          position: absolute;
          color: #f00;
          font-size: 12px;
          top: calc(100% + 3px);
        }
        .react-tel-input {
          .flag-dropdown {
            background: transparent;
            border: none;
            width: 70px;
            &.open {
              @media (min-width: 993px) {
                .country-list {
                  margin: 0;
                  width: 434px;
                  box-shadow: unset;
                  background: #dcdce2;
                  z-index: 2;
                }
              }
            }
          }
          .selected-flag {
            background: transparent;
            padding-left: 24px;
            padding-right: 24px;
            width: 100%;
            .flag {
              transform: scale(1.2);
            }
            .arrow {
              width: 5px;
              height: 4px;
              background-image: url(/images/chevron-down.svg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              border: none;
              margin-left: 10px;
            }
          }
          input {
            padding-left: 85px;
          }
        }
      }

      button {
        margin: 48px auto 0 auto;
        width: 437px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
        background: #97d80f;
        @media (max-width: 992px) {
          margin-top: 0;
          width: 100%;
        }
        .main-button {
          &:before {
            display: none;
          }
          border: none;
          background: transparent;
        }
      }
    }
    &.guide-popup {
      min-height: 430px;
    }
    .guide {
      h2 {
        color: var(--2, #0f0f0f);
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @media (max-width: 992px) {
          br {
            display: none;
          }
        }
      }
      .subtitle {
        color: var(--2, #0f0f0f);
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin: 0 0 40px 0;
        @media (max-width: 992px) {
          br {
            display: none;
          }
        }
      }
      .popup-form {
        flex-direction: column;
        width: 440px;
        max-width: 100%;
        margin: 0 auto;
        > div {
          width: 100%;
        }
        button {
          margin: 0;
        }
      }
    }
  }
}

button {
  cursor: pointer;
}

.subscribe-block {
  overflow: hidden;
  @media (max-width: 992px) {
    ._container {
      padding: 0;
    }
  }
  &__body {
    border-radius: 0px 24px 24px 24px;
    padding: 140px 85px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(
      117deg,
      #333cef 8.25%,
      #0b98ff 37.98%,
      #9ce500 67.71%,
      #acd64e 97.44%
    );
    @media (max-width: 1375px) {
      padding: 100px 60px;
    }
    @media (max-width: 992px) {
      border-radius: 0;
      padding: 100px 16px 290px 16px;
    }
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      background: linear-gradient(
        279deg,
        rgba(15, 15, 15, 0) -7.27%,
        #0f0f0f 97.2%
      );
    }
    > div {
      position: relative;
      z-index: 2;
    }
    .image-wrap {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      @media (max-width: 1375px) {
        width: 50%;
        img {
          width: 100%;
          height: auto;
        }
      }
      @media (max-width: 1400px) and (min-width: 1000px) {
        width: 38%;
      }
      @media (max-width: 992px) {
        width: 100%;
        justify-content: flex-end;
        img {
          width: auto;
          height: auto;
          max-height: 350px;
          width: 100%;
          margin-bottom: -70px;
        }
      }
      @media (max-width: 992px) and (min-width: 767px) {
        height: auto;
        width: 50%;
        overflow: unset;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  h2 {
    color: #f0f0f7;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    position: relative;
    z-index: 2;
    margin: 0 0 80px 0;
    @media (max-width: 992px) {
      margin: 0 0 60px 0;
      font-size: 32px;
      text-align: center;
      br {
        display: none;
      }
    }
  }
  p {
    color: #f0f0f7;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0 0 80px 0;
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      margin: 0 0 64px 0;
      font-size: 16px;
      text-align: center;
    }
  }
  a {
    position: relative;
    z-index: 2;
    @media (max-width: 992px) {
      margin: 0 auto;
    }
  }

  .subscribe-form {
    max-width: 470px;
    @media (max-width: 992px) {
      max-width: 100%;
    }
    .status-message {
      color: #f0f0f7;
      font-size: 14px;
      margin-top: 16px;
    }
    .form-row {
      display: flex;
      border-radius: 0px 0px 24px 0px;
      background: #f0f0f7;
      @media (max-width: 992px) {
        max-width: 100%;
        flex-direction: column;
        gap: 24px;
        background: transparent;
      }
      .input-wrap {
        position: relative;
        flex-grow: 1;
        @media (max-width: 992px) {
          width: 100%;
        }
        input {
          width: 100%;
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          text-align: left;
          height: 56px;
          display: flex;
          align-items: center;
          padding: 0 24px;
          background: #f0f0f7;
          border: 1px solid #f0f0f7;
        }
        > span {
          position: absolute;
          font-size: 12px;
          color: #f00;
        }
      }
      button {
        background: transparent;
        border: none;
        padding: 0;
        outline: none;
        .main-button {
          width: 100%;
          @media (max-width: 992px) {
            padding: 5px 24px 0 24px;
            > span {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 24px;
              svg {
                position: relative;
                right: unset;
                bottom: unset;
                margin-top: -5px;
              }
            }
          }
        }
        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }
  }
}
