@import "mixin";

* {
  box-sizing: border-box;
}

.dark {
  background: #0f0f0f;
}

body {
  margin: 0;
  background: #f1f1f1;
  @media (max-width: 992px) {
  }
  &.no-scroll {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    background: transparent;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #d4d4d4;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b4ff05;
    border-radius: 100px;
  }
}
* {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none !important;
  @media (max-width: 992px) {
    outline: none !important;
  }
}

.section-title {
  color: var(--2, #282828);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  @media (max-width: 992px) {
    font-size: 40px;
  }
}

@media screen and (min-width: 992px) {
  /*html, body{
		overflow-x:hidden;
	}*/
  .dt-hidden {
    display: none !important;
  }
}
@media screen and (max-width: 992px) {
  .iti.iti--container {
    z-index: 1999999999 !important;
  }
  .mob-hidden {
    display: none !important;
  }
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  @media (max-width: 1375px) {
    max-width: $md1 + px;
  }
  @media (min-width: 1600px) {
    max-width: $maxWidth;
  }
}

.site {
  position: relative;
  overflow: hidden;
}

/* Tabs */

._tabs-block {
  display: none;
  &._active {
    display: block;
  }
}

.category-wrap {
  margin: 100px 0;
  @media (max-width: 992px) {
    margin: 80px 0;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    h2 {
      color: #0f0f0f;
      font-size: 48px;
      font-weight: 600;
      line-height: 1;
      text-align: left;
      margin: 0;
      @media (max-width: 992px) {
        font-size: 32px;
      }
    }
    a {
      color: rgb(15 15 15 / 50%);
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 16px;
      svg {
        margin-top: -4px;
      }
    }
  }

  &__body {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    > div {
      width: calc(33.33% - 20px);

      @media (max-width: 992px) {
        width: 100%;
      }
      > a {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        &:hover {
          .post-thumb {
            .image-back {
              transition: all 0.5s;
              transform: scale(1.1);
            }
          }
        }
        .post-thumb {
          width: 100%;
          height: 240px;
          position: relative;
          overflow: hidden;
          border-radius: 16px;
          .image-back {
            position: absolute;
            background-position: center;
            background-size: cover;
            left: 0;
            top: 0;
            transform: scale(1);
            width: 100%;
            height: 100%;
            transition: all 0.5s;
          }
        }
        .post-inner {
          display: flex;
          flex-direction: column;
          gap: 20px;
          h3 {
            margin: 0;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.2;
            text-align: left;
            color: #0f0f0f;
          }
          span {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            color: rgb(15 15 15 / 50%);
          }
        }
      }
    }
  }
}

.single-post {
  .category-wrap {
    &__top {
      a {
        display: none;
      }
    }
  }
}

.black-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  background: #161616;
  color: #fff;
}

.white-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  background: #fff;
  color: #161616;
}

.main-button {
  color: #0f0f0f;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1; /* 22.4px */
  text-transform: uppercase;
  border-radius: 0px 0px 24px 0px;
  background: var(--4, #97d80f);
  display: flex;
  padding: 5px 72px 0 24px;
  width: fit-content;
  height: 56px;
  position: relative; /* Needed for the absolute positioning of the pseudo-element */
  overflow: hidden; /* Ensures the pseudo-element is clipped to the border-radius */
  transition: all 0.5s;
  border: none;
  @media (max-width: 992px) {
    padding-top: 2px;
  }
  span {
    display: flex;
    align-items: center;
    gap: 24px;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(
      --5,
      linear-gradient(
        137deg,
        #333cef 2.76%,
        #0b98ff 32.42%,
        #9ce500 62.07%,
        #acd64e 91.73%
      )
    );
    border-radius: 0px 0px 24px 0px; /* Match the button's border-radius */
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.5s;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
    svg {
      animation: flyAway 1s forwards;
    }
  }
  svg {
    position: absolute;
    right: 24px;
    bottom: 16px;
    will-change: transform;
  }
}

@keyframes flyAway {
  20% {
    transform: translateY(-160%) translateX(150%); /* Adjust values to control the ending position */
  }
  25% {
    transform: translateY(-160%) translateX(-9999%); /* Adjust values to control the ending position */
  }
  30% {
    transform: translateY(160%) translateX(-9999%); /* Adjust values to control the ending position */
  }
  60% {
    transform: translateY(160%) translateX(-150%); /* Adjust values to control the ending position */
  }
  100% {
    transform: translateY(0) translateX(0); /* Adjust values to control the ending position */
  }
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

button {
  cursor: pointer;
}

.thanks-popup-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  pointer-events: none;

  background: #000000cc;
  backdrop-filter: blur(25px);
  &.opened {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s;
    .popup-inner {
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    min-height: 100%;
  }

  .popup-inner {
    transition: all 0.5s;
    width: 540px;
    max-width: 95%;
    background: #ffffff;
    border: 1px solid #ffffff33;
    padding: 50px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 95vh;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    &:-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    @media (max-width: 992px) {
      padding: 40px 24px;
    }
    .popup-close {
      position: absolute;
      right: 40px;
      top: 40px;
      cursor: pointer;
      @media (max-width: 992px) {
        top: 24px;
        right: 24px;
      }
    }

    .success {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      h3 {
        color: #161616;
        margin: 10px 0 10px 0;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
      }
      p {
        margin: 0;
        color: #161616;
        font-size: 14px;
        font-weight: 400;
        line-height: 18.23px;
        text-align: center;
      }
    }
  }
}

.order-popup-wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  pointer-events: none;

  background: #000000cc;
  backdrop-filter: blur(25px);
  &.opened {
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s;
    .popup-inner {
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s;
    }
  }
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    min-height: 100%;
  }

  .popup-inner {
    transition: all 0.5s;
    width: 730px;
    max-width: 95%;
    background: #ffffff;
    border: 1px solid #ffffff33;
    padding: 60px 95px;
    border-radius: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 99999;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 95vh;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
    &:-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
    @media (max-width: 992px) {
      padding: 40px 24px;
    }
    .popup-close {
      position: absolute;
      right: 40px;
      top: 40px;
      cursor: pointer;
      @media (max-width: 992px) {
        top: 24px;
        right: 24px;
      }
    }
    h2 {
      margin: 0 0 35px 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      color: #161616;
      text-transform: uppercase;
      width: 100%;
      @media (max-width: 992px) {
        font-size: 24px;
        br {
          display: none;
        }
      }
    }
    form {
      .form-inner {
        display: flex;
        column-gap: 30px;
        row-gap: 20px;
        flex-wrap: wrap;
        > div {
          width: calc(50% - 15px);
          position: relative;
          &.full {
            width: 100%;
          }
          &.checkbox {
            width: 100%;
            .error {
              text-align: center;
              width: 100%;
              @media (max-width: 992px) {
                text-align: left;
              }
            }
            input {
              display: none;
              &:checked + label {
                svg {
                  circle:last-child {
                    opacity: 1;
                    transition: all 0.5s;
                  }
                }
              }
            }
            label {
              display: flex;
              align-items: center;
              gap: 10px;
              justify-content: center;
              color: #ffffff;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              svg {
                width: 14px;
                circle:last-child {
                  opacity: 0;
                  transition: all 0.5s;
                }
              }
              span {
                @media (max-width: 992px) {
                  width: calc(100% - 24px);
                }
              }
            }
          }
          @media (max-width: 992px) {
            width: 100%;
          }
          .error {
            position: absolute;
            left: 0;
            color: #e74848;
            font-size: 10px;
          }
          .react-datepicker-wrapper {
            width: 100%;
          }
          input,
          textarea,
          .custom-input {
            justify-content: space-between;
            color: #161616;
            display: flex;
            align-items: center;
            padding: 0 20px;
            font-size: 16px;
            font-weight: 400;
            line-height: 20.83px;
            text-align: left;
            border: 1px solid #00000026;
            background: #0000000d;
            width: 100%;
            height: 50px;
            border-radius: 25px;
            &::placeholder {
              color: #0000004d;
            }
            &.invalid {
              border-color: #e74848;
            }
          }
          textarea {
            padding: 15px 20px;
            height: 150px;
          }
        }
      }

      button {
        margin: 10px auto 0 auto;
        font-weight: 600;
      }
      .success {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h3 {
          color: #161616;
          margin: 10px 0 10px 0;
          font-size: 36px;
          font-weight: 600;
          line-height: 1.2;
          text-align: center;
        }
        p {
          margin: 0;
          color: #161616;
          font-size: 14px;
          font-weight: 400;
          line-height: 18.23px;
          text-align: center;
        }
      }
    }
  }
}

textarea,
input,
button {
  font-family: "__Montserrat_b1da2a", "__Montserrat_Fallback_b1da2a";
  font-style: normal;
}

.request-block {
  padding: 150px 0;
  background-image: url(/images/work/requestBack.png);
  background-size: contain;
  background-position: left bottom;
  background-color: #161616;
  background-repeat: no-repeat;
  @media (max-width: 992px) {
    padding: 100px 0;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 50px;
    }
    .col-01 {
      @media (max-width: 992px) {
        width: 100%;
      }
      h2 {
        color: #ffffff;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 30px 0;
        @media (max-width: 992px) {
          font-size: 36px;
        }
      }
      p {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        text-align: left;
        color: #ffffff;
      }
    }
    .col-02 {
      width: 540px;
      @media (max-width: 992px) {
        width: 100%;
      }
      .request-form {
        form {
          display: flex;
          flex-wrap: wrap;
          column-gap: 30px;
          row-gap: 20px;

          button {
            margin: 0 auto !important;
          }

          > div {
            width: calc(50% - 15px);
            position: relative;
            @media (max-width: 992px) {
              width: 100%;
            }
            &.full {
              width: 100%;
            }
            .error {
              position: absolute;
              left: 0;
              color: #e74848;
              font-size: 10px;
            }
            input,
            textarea {
              width: 100%;

              color: #ffffff;
              height: 50px;
              border-radius: 25px;
              background: #ffffff0d;
              border: 1px solid #ffffff26;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              padding: 0 20px;
              &.invalid {
                border-color: #e74848;
              }
              &::placeholder {
                color: #ffffff4d;
              }
            }

            textarea {
              height: 150px;
              padding: 15px 20px;
            }

            .form-field {
              &.invalid {
                [class$="-control"] {
                  border-color: #e74848 !important;
                }
              }
              [class$="-ValueContainer"] {
                height: 50px !important;
                margin: 0 !important;
                padding: 0 !important;
                border: none !important;
                [class$="-Input"] {
                  height: 50px !important;
                  margin: 0 !important;
                  padding: 0 !important;
                  border: none !important;
                }
                [class$="-singleValue"] {
                  color: #ffffff !important;
                }
              }
              [class$="-IndicatorsContainer"] {
                > span {
                  display: none !important;
                }
                [class$="-indicatorContainer"] {
                  padding: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.need-assistancs {
  margin: 150px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }
  &__body {
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: #161616;
    border-radius: 20px;
    padding: 48px 20px;
    background-image: url(/images/services/assistance-back.svg);
    background-size: cover;
    background-position: center;
    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      margin: 0;
      @media (max-width: 992px) {
        font-size: 24px;
      }
    }
    p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      margin: 15px 0 0 0;
      @media (max-width: 992px) {
        br {
          display: none;
        }
      }
    }
  }
}

.thankyou-page {
  margin: 150px 0;
  .black-button {
    margin: 0 auto;
  }
  h1 {
    color: #161616;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.change-password {
  margin: 100px 0;
  h2 {
    color: #161616;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    margin: 0 0 40px 0;
    text-align: center;
  }
  form {
    max-width: 255px;
    margin: 0 auto;

    button {
      margin: 30px auto 0 auto;
    }
    .password-data {
      display: flex;
      flex-direction: column;
      gap: 20px;
      > div {
        width: 100%;
        position: relative;
        @media (max-width: 992px) {
          width: 100%;
        }
        .error {
          position: absolute;
          left: 0;
          font-size: 12px;
          color: #ff5353;
        }
        input {
          width: 100%;
          height: 50px;
          padding: 0 20px;
          background: #0000000d;
          border: 1px solid #00000026;
          border-radius: 25px;
          color: #161616;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          &::placeholder {
            color: #0000004d;
          }
          &.invalid {
            border-color: #ff5353;
          }
        }
      }
    }
  }
}

.account-wrap{
  .products {
    margin: 40px 0;
    @media (max-width: 992px) {
      margin: 40px 0;
    }
  }
}

.products {
  margin: 150px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 50px 0;
    color: #161616;
    @media (max-width: 992px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  &__body {
    display: flex;
    gap: 30px;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
    > div {
      width: calc(33.33% - 20px);
      @media (max-width: 992px) {
        width: 100%;
      }
      .product-thumb{
        position: relative;
        display: flex;
        img{
          position: relative;
          z-index: 1;
        }
        .offer{
          position: absolute;
          z-index: 2;
          right: 10px;
          top:10px;
          color: #FFFFFF;
          font-size: 12px;
          font-weight: 700;
          line-height: 1.2;
          text-align: center;
          display: block;
          padding: 6px 10px;
          background: #FF5353;
          border-radius: 100px;
        }
      }
      .product-info {
        padding-top: 20px;
        h3 {
          color: #000000;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 10px 0;
          a{
            color: #000000;
          }
        }
        .excerpt {
          color: #000000;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
        .add-to-cart{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          >span{
            color: #000000;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
          }
          button{
            display: flex;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            align-items: center;
            gap:10px;
            border: none;
          }
        }
      }
    }
  }
}
