footer {
  background: #000000;
  padding: 40px 0;

  .footer-top {
    a {
      display: flex;
    }
  }

  .footer-navs {
    padding: 40px 0;
    margin: 40px 0;
    border-top: 1px solid #ffffff26;
    border-bottom: 1px solid #ffffff26;
    display: flex;
    gap: 80px;
    @media (max-width: 992px) {
      flex-wrap: wrap;
      column-gap: 0;
      row-gap: 40px;
    }

    .soc{
      display: flex;
      gap:10px;
    }

    > div {
      @media (max-width: 992px) {
        width: 50%;
      }
      h3 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 25px 0;
        a {
          color: #ffffff;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          color: #fff;
          @media (max-width: 992px) {
            font-size: 14px;
            br {
              display: none;
            }
          }
          a {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            color: #fff;
            @media (max-width: 992px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    color: #ffffff80;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
  }
}
