.home-hero {
  margin-bottom: 150px;
  @media (max-width: 992px) {
    margin-bottom: 100px;
  }
  &__body {
    border-radius: 25px;
    background-color: #d4d4d4;
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    padding-top: 125px;
    padding-right: 95px;
    margin-bottom: 30px;
    background-image: url(/images/home/heroBack.svg);
    background-position: left center;
    background-size: cover;
    @media (max-width: 992px) {
      background-image: url(/images/home/heroBackMob.svg);
      padding-top: 40px;
      padding-right: 20px;
      padding-left: 20px;
    }

    .marquee {
      width: 100%;
      position: absolute;
      bottom: 60px;
      background: #b4ff05;
      padding: 20px 0;
      left: 0;
      overflow: hidden;
      box-sizing: border-box;
      .track {
        display: flex;
        align-items: center;
        gap: 40px;
        width: 1836px;
        .text {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.2;
          text-align: center;
          color: #161616;
          text-transform: uppercase;
          max-width: unset;
        }
        .circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #161616;
          display: block;
        }
      }
    }

    img {
      position: absolute;
      left: 90px;
      bottom: 0;
      z-index: 1;
      @media (max-width: 992px) {
        width: 350px;
        height: 350px;
        left: 50%;
        transform: translateX(-50%) !important;
      }
    }
    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.2;
      text-align: right;
      color: #161616;
      text-transform: uppercase;
      @media (max-width: 992px) {
        font-size: 14px;
      }
    }
    h1 {
      margin: 0;
      font-size: 48px;
      font-weight: 800;
      line-height: 1.2;
      text-align: right;
      color: #161616;
      text-transform: uppercase;
      @media (max-width: 992px) {
        font-size: 30px;
      }
    }
  }

  &__bottom {
    display: flex;
    gap: 30px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    a {
      width: calc(50% - 15px);
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 35px 40px;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      color: #0c0c0c;
      text-transform: uppercase;
      background: #b4ff05;
      &:last-child {
        background: #0c0c0c;
        color: #fff;
        span {
          &:last-child {
            border-color: #fff;
          }
        }
      }
      @media (max-width: 992px) {
        width: 100%;
        font-size: 24px;
        padding: 25px;
      }
      span {
        &:last-child {
          width: 80px;
          height: 80px;
          background: #0c0c0c;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #0c0c0c;
          @media (max-width: 992px) {
            width: 60px;
            height: 60px;
            img {
              width: 23px;
              height: 23px;
            }
          }
        }
      }
    }
  }
}

.latest-projects {
  margin: 150px 0;
  position: relative;
  @media (max-width: 992px) {
    margin: 100px 0;
  }
  &:before {
    content: "";
    width: 100%;
    display: block;
    left: 0;
    top: -15px;
    position: absolute;
    z-index: 0;
    height: 1000px;
    background-image: url("/images/home/projectsBack.webp");
    background-size: cover;
    background-position: center;
    @media (max-width: 992px) {
      top: 100px;
    }
  }

  &__body {
    background: #161616;
    padding: 90px 65px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    @media (max-width: 992px) {
      padding: 30px 20px;
    }

    h2 {
      color: #ffffff;
      font-size: 36px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      margin: 0 0 40px 0;
      @media (max-width: 992px) {
        font-size: 24px;
        margin-bottom: 20px;
      }
    }

    .tabs {
      display: flex;
      gap: 30px;
      @media (max-width: 992px) {
        flex-direction: column;
      }
      .tabs-nav {
        width: 285px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 992px) {
          width: 100%;
        }
        button {
          background: #ffffff1a;
          padding: 30px;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
          border: none;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          text-transform: uppercase;
          svg {
            transform: rotate(0);
            transition: all 0.5s;
          }
          &.active {
            background: #b4ff05;
            color: #161616;
            svg {
              transform: rotate(-90deg);
              rect {
                fill: #161616;
              }
            }
          }
        }
      }

      .tabs-content {
        width: calc(100% - 315px);
        @media (max-width: 992px) {
          width: 100%;
        }
        .sliderContainer {
          position: relative;
          &:before {
            content: "";
            display: block;
            width: 330px;
            height: 36px;
            background: #161616;
            transform: skew(-15deg);
            position: absolute;
            z-index: 1;
            right: -10px;
            bottom: 0;
            @media (max-width: 992px) {
              width: 280px;
              height: 31px;
            }
          }
          .explore {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            color: #b4ff05;
            gap: 10px;
            position: absolute;
            z-index: 2;
            right: 0;
            bottom: 3px;
          }
          .slick-slider {
            .slick-list {
              position: relative;
              z-index: 0;
            }
            .slick-dots {
              position: absolute;
              z-index: 2;
              bottom: 8px;
              right: 195px;
              list-style-type: none;
              margin: 0;
              padding: 0;
              width: auto;
              display: flex !important;
              gap: 10px;
              @media (max-width: 992px) {
                right: 145px;
              }
              li {
                padding: 0;
                margin: 0;
                width: auto;
                height: auto;
                &.slick-active {
                  button {
                    background: #b4ff05;
                  }
                }
                button {
                  background: #ffffff26;
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.production-cycle {
  padding: 0 0 150px 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 992px) {
    padding: 0 0 100px 0;
  }

  &:before {
    content: "";
    width: 100%;
    display: block;
    left: 0;
    bottom: -150px;
    position: absolute;
    z-index: 0;
    height: 530px;
    background-image: url("/images/home/readyBack.webp");
    background-size: cover;
    background-position: center;
    @media (max-width: 992px) {
      bottom: -100px;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 40px 0;
    color: #161616;
  }

  &__body {
    @media (max-width: 992px) {
      overflow-x: auto;
    }
    > div {
      display: flex;
      gap: 25px;
      position: relative;
      z-index: 1;
      @media (max-width: 992px) {
        width: 1110px;
      }
    }
    .item {
      width: calc(20% - 20px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 992px) {
        width: 100%;
      }
      span {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;
        width: 65px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #b4ff05;
        border-radius: 39px;
      }
      h3 {
        margin: 30px 0 15px 0;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        color: #161616;
        text-transform: uppercase;
      }
      p {
        color: #161616;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 15px 0;
      }
      h4 {
        color: #161616;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        margin: 0;
      }
    }
  }

  &__ready {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 150px;
    position: relative;
    z-index: 1;

    @media (max-width: 992px) {
      margin-top: 100px;
    }
    h2 {
      text-align: center;
      font-size: 64px;
      font-weight: 600;
      margin: 0;
      position: relative;
      z-index: 1;
    }
    a {
      position: relative;
      z-index: 1;
    }
  }
}

.why-choose {
  background-color: #161616;
  background-image: url(/images/home/lastBack.webp);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 150px 0;
  @media (max-width: 992px) {
    padding: 100px 0;
  }

  &__body {
    display: flex;
    gap: 95px;
    .col-01 {
      width: calc(100% - 630px);
      @media (max-width: 992px) {
        width: 100%;
      }
      h2 {
        margin: 0 0 70px 0;
        font-size: 96px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        color: #fff;
        @media (max-width: 992px) {
          font-size: 64px;
          margin-bottom: 40px;
        }
      }
      > div {
        display: flex;
        flex-direction: column;
        gap: 50px;
        > div {
          h3 {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 0 0 25px 0;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
            color: #fff;
            text-transform: uppercase;
            span {
              &:first-child {
                width: 65px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 700;
                line-height: 1.2;
                text-align: center;
                background: #b4ff05;
                border-radius: 39px;
                color: #161616;
              }
            }
          }
          p {
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            color: #fff;
          }
        }
      }
    }
    .col-02 {
      width: 535px;
      > div {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        flex-wrap: wrap;
        padding-top: 100px;
        img {
          max-width: 252px;
          &:nth-child(even) {
            //margin-top: 100px;
          }
          &:nth-child(odd) {
            margin-top: -100px;
          }
        }
      }
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}
