.single-product-hero {
  margin: 100px 0 150px 0;
  @media (max-width: 992px) {
    margin: 50px 0 100px 0;
  }
  &__body {
    display: flex;
    gap: 30px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
    .col-01 {
      @media (max-width: 992px) {
        width: 100%;
      }
      > div {
        @media (max-width: 992px) {
          width: 100%!important;
          height: 200px!important;
        }
      }
      .single-video{
        width: 100%!important;
          height: 200px!important;
      }
      img {
        @media (max-width: 992px) {
          width: 100%;
          height: auto;
        }
      }
    }
    .col-02 {
      width: calc(100% - 570px);
      @media (max-width: 992px) {
        width: 100%;
      }
      h1 {
        color: #161616;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 30px 0;
        @media (max-width: 992px) {
          font-size: 24px;
          margin: 0 0 20px 0;
        }
      }
      > .add-to-cart {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 60px;
        @media (max-width: 992px) {
          flex-direction: column-reverse;
          align-items: flex-start;
          margin-top: 30px;
          gap: 20px;
        }
        > span {
          color: #161616;
          font-size: 24px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin: 0;
        }
      }
    }
  }
}

.need-assistancs {
  margin: 150px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }
  &__body {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: #161616;
    border-radius: 20px;
    padding: 20px;
    background-image: url(/images/services/assistance-back.svg);
    background-size: cover;
    background-position: center;
    h2 {
      color: #fff;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2;
      text-align: left;
      margin: 0;
      @media (max-width: 992px) {
        font-size: 24px;
      }
    }
  }
}

.products {
  margin: 150px 0;
  @media (max-width: 992px) {
    margin: 100px 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 50px 0;
    color: #161616;
    @media (max-width: 992px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }

  &__body {
    display: flex;
    gap: 30px;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
    > div {
      width: calc(33.33% - 20px);
      @media (max-width: 992px) {
        width: 100%;
      }
      .product-info {
        padding-top: 20px;
        h3 {
          color: #000000;
          font-size: 20px;
          font-weight: 700;
          line-height: 1.2;
          text-align: left;
          margin: 0 0 10px 0;
          a {
            color: #000000;
          }
        }
        .excerpt {
          color: #000000;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
        .add-to-cart {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          > span {
            color: #000000;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
            text-align: left;
          }
          button {
            display: flex;
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            align-items: center;
            gap: 10px;
            border: none;
          }
        }
      }
    }
  }
}
