.cookiePopup {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 510px;
  padding: 24px;
  z-index: 1000;
  border-radius: 24px;
  background: #2D2D2D;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);

  @media (max-width: 992px) {
    padding: 24px;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    transform: translateX(0);
  }

  &.visible {
    display: block;
  }

  h2 {
    color: #B4FF05;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0px;
  }

  p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    a {
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }
  }

  .buttons {
    margin-top: 16px;
    display: flex;
    gap: 24px;
    justify-content: center;
    @media (max-width: 992px) {
      gap: 16px;
    }

    button {
      width: calc(50% - 12px);
      cursor: pointer;
      font-size: 14px;
      padding: 12px 12px;
      height: 49px;
      @media (max-width: 992px) {
        width: calc(50% - 8px);
      }
      &.decline {
        border-radius: 24px;
        background: #F1F1F1;
        color: #575551;
        border: 1px solid #F1F1F1;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: all 0.3s ease;

        &:hover {
          background: #e8e8e8;
        }
      }

      &.accept {
        border-radius: 24px;
        background: #B4FF05;
        color: #161616;
        border: 1px solid #B4FF05;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: all 0.3s ease;

        &:hover {
          background: #9ce500;
        }
      }
    }
  }
}
